{% extends 'base.html' %}
{% load bootstrap5 %}

{% block body %}
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="d-inline align-self-center">
                # {{post.id}}
                {{post.title}}
            </div>
            <div class="d-inline">
                <a href="{% url 'board:b_index' %}" class="btn btn-secondary border">목록으로</a>
            </div>
        </div>
        <div class="card-body">
            {{ post.content }}
        </div>
        <div class="card-footer d-flex justify-content-between">
            <div class="d-inline align-self-center">
                {{ post.updated_at }}
            </div>
            <div class="d-inline">
                <a href="{% url 'board:update' id=post.id %}" class="btn btn-primary">수정</a>
                <a href="{% url 'board:delete' id=post.id %}" class="btn btn-danger">삭제</a>
            </div>
        </div>
    </div>
    <hr>
    <p class="d-inline color">댓글</p>
    <hr>
    
    {% for comment in post.comment_set.all %}
        <div class="d-flex justify-content-between">
            <span>{{ comment.content }}</span> 
            <a href="{% url 'board:comment_delete' post_id=post.id id=comment.id %}">delete</a>           
        </div>
        <div>
            {{ comment.updated_at }}
        </div>
        <hr>
    {% endfor %}
        <form action="{% url 'board:comment_create' post_id=post.id %}" method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        <input type="submit" value="작성" class="btn btn-primary">
    </form>
{% endblock %}