<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>게시판</h1>
    <hr>
    <p><b>게시물 번호</b> {{post.id}}</p>
    <table>
        <tr>
            <th>제목</th>
            <td>{{post.title}}</td>
        </tr>
        <tr>
            <th>내용</th>
            <td>{{post.content}}</td>
        </tr>
    </table>
    <a href="/posts/{{post.id}}/edit/">수정</a>
    <a href="/posts/{{post.id}}/delete/">삭제</a>
    <a href="/board/">목록으로</a>
</body>
</html>