{% extends 'base.html' %}
{% block body %}
    <h2><제곱근계산기></h2>
    <form action="">
        <label for="input" class="form-label" value = {{input}}>숫자입력</label>
        <input type="text" name="input" id="input" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control">
        <input type="submit" value="calulate">
    </form>
    <label for="result" class="form-label">결과값</label>
    <input type="text" name="result" id="result" class="form-control" readonly value = {{rootnum}} >
{% endblock %}